language: node_js

node_js:
  - "8"
  - "7"
  - "6"
  - "5"
  - "4"

script:
  - if [[ "${TRAVIS_NODE_VERSION}" == '8' ]]; then npm run codecov; else npm run test; fi

notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/caa35ceb4dd217d50b26
    on_success: change  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: never     # options: [always|never|change] default: always
